<div class="flex flex-wrap">
    <div class="w-full px-4 md:w-1/2">
        <img src="https://i.postimg.cc/YCJW7jv8/pexels-fauxels-3184357.jpg" alt=""
            class="object-cover w-full mb-6 rounded-lg h-80">
        <img src="https://i.postimg.cc/j5L5bX2d/pexels-andrea-piacquadio-3757946.jpg" alt=""
            class="object-cover w-full rounded-lg h-80">
    </div>
    <div class="w-full px-4 md:w-1/2 xl:mt-11">
        <img src="https://i.postimg.cc/sXJQ5cw0/pexels-pixabay-256455-1.jpg" alt=""
            class="object-cover w-full mb-6 rounded-lg h-80">
        <img src="https://i.postimg.cc/vHTg6593/aqq.jpg" alt="" class="object-cover w-full rounded-lg h-80">
    </div>
</div>