.background-footer {
    background: #171A23 !important;
    color: whitesmoke;
}

a {
    color: whitesmoke !important;
}

a:hover {
    color: #3f77d1 !important;
}

.img-logo-footer {
    width: 48px !important;
}